body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.493);
  }

.background-img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
}

form {
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px; 
  color: #575756; 
  margin-left: 0px;
  border: solid rgba(0, 0, 0, 0.562) 2px;
}

button {
  border: solid rgba(0, 0, 0, 0.562) 2px;
  background-color: transparent;
  line-height: 18px;
  color: #575756;
}

.icon {
  width: 30px;
  vertical-align: middle;
}

.cont {
  margin-top: 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  }

.ingredient {
  line-height: 20px;
}
  
.icons {
  width: 20px;
  vertical-align: middle;
}

hr {
  width: 200px;
  margin-bottom: 50px;
}

h6 {
font-size: 12px;
}
